body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #eaf2e6;
    cursor: none;
}

header {
    background-color: #eaf2e6;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 100px 60px 100px;
    font-family: 'Work Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    margin-left: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 2em;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 2em;
}

p {
    font-size: 17px;
    font-family: "Montserrat", sans-serif;
    line-height: 30px;
    text-align: left;
    margin-bottom: 40px;
}

.landing {
    text-align: left;
    max-width: 1200px; /* Set your desired maximum width */
    margin: 0px 100px 100px 100px;
    padding: 1em;
    font-size: 40px;
}

.landing a {
    color: inherit; /* Inherits the color of the parent element */
    text-decoration: none; /* Removes the underline */
}

.landing a:hover {
    text-decoration: underline; /* Adds underline on hover if desired */
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    max-width: 1200px; /* Set your desired maximum width */
    margin: 0px 100px 100px 100px;
    padding: 1em;
    font-size: 40px;
}

.text-content {
    flex: 1;
}

.image-content {
    flex: 0 0 auto; /* Do not grow or shrink, keep the size of the image */
    margin-left: 60px; /* Space between text and image */
    margin-right: 5px;
    margin-top: 65px;
}

.content-wrapper {
    display: flex;
    justify-content: space-between; /* Adjusts space between items */
    align-items: center; /* Aligns items vertically in the center */
    text-align: left;
    max-width: 1200px; /* Set your desired maximum width */
    margin: 0 auto; /* Center the content horizontally */
    padding: 1em;
}

.content-wrapper2 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
    box-sizing: border-box;
    text-align: left;
}

.text2-content {
    margin-bottom: 20px;
}

.image2-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.image2-container img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.dropdown:hover .dropdown-content {
    display: block; /* Show the dropdown on hover */
}

.dropdown-content {
    display: none; /* Hide the dropdown by default */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.project {
    text-align: left;
    margin: -50px 100px 100px 100px;
    padding: 1em;
    font-size: 40px;
}
h2 {
    margin-bottom: 40px;
}

.columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width: 1200px;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 17px; 
    font-family: 'Montserrat', sans-serif;
}

.line {
    padding: 10px;
    text-align: center;
}

.columns2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 950px;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 17px; 
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-left: 200px;
    margin-top: -150px;
    margin-right: -400px;
}

.line2 {
    padding: 10px;
    text-align: left;
}

.text-paragraph {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    margin-bottom: 20px;
}

@media (max-width: 701px) {
    .columns3 {
        grid-template-columns: 1fr;
    }

    .responsive-image {
        max-width: 100%;
    }
}

.i-container {
    display: flex;
    justify-content: center;
    margin: 20px 0; /* Adjust margin as needed */
}

.i-container img {
    max-width: 800px;
    height: auto;
}

.images-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Space between the two images */
    margin-bottom: 40px;
}

.images-container img {
    max-width: 450px; /* Adjust as needed */
    height: auto;
}

.cursor {
    position: fixed;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: rgba(243, 8, 235, 0.2);
    pointer-events: none; /* Make sure the cursor doesn't block interactions */
    transform: translate(-50%, -50%);
    transition: background 0.3s, transform 0.3s, opacity 0.3s;
    z-index: 10000; /* Ensure the cursor is on top of other elements */
    opacity: 1; /* Visible by default */
}

.hidden {
    cursor: none !important; /* Ensure the default cursor is hidden */
}